margin: 0px 0px 0px 0px;
BODY {font-family:Tahoma,Arial,Helvetica,sans-serif;font-size: 10px;line-height: 1px;background-position: center;}

input {FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
select {FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none}

a {color: #000000;text-decoration: none;}

a:hover{color : #fff000;text-decoration : none;}
	
a:active {color : #aaaaaa;text-decoration : none;}

table.menubar { height:30px;width: 100%; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none; }

table#menubar_principal {margin-right:10px;}

table#menubar_principal a.menubar_principal {width:110px;FONT-SIZE: 10px;height:70px;color : #000033;display:block;border: 1px solid #DDD;padding: 1px 0px 1px 0px;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none;background-position: center;text-align: center;vertical-align: middle;}
table#menubar_principal a.menubar_principal1 {width:110px;FONT-SIZE: 10px;height:50px;color : #000033;display:block;border: 1px solid #DDD;padding: 1px 0px 1px 0px;FONT-FAMILY: Verdana, Arial;TEXT-DECORATION: none;background-position: center;text-align: center;vertical-align: middle;}

table#menubar_principal a.menubar_principal:hover {
background-color:#E7ECF1;border:1px solid #355cc6;color:#355cc6;padding:1px 0px 1px 0px;vertical-align:middle;height:70px;
}
table#menubar_principal a.menubar_principal1:hover {
background-color:#E7ECF1;border:1px solid #355cc6;color:#355cc6;padding:1px 0px 1px 0px;vertical-align:middle;height:50px;
}
table#menubar_principal a.menubar_principal:active {color:#355cc6;}
table#menubar_principal a.menubar_principal1:active {color:#355cc6;}

.tabla_admin {
	FONT-SIZE: 10px;
	color : #000033;
	border: 1px solid #DDD;	
	padding: 1px 0px 1px 0px;
	FONT-FAMILY: "Verdana";
	TEXT-DECORATION: none;}
	
.pag {page-break-after: always;}



.inc {border: solid 1px #000000;}
.precio {border: solid 1px #000000; }
.mes{border: solid 1px #000000; font-family:"Verdana";text-align: center; font-size:10px;  }
.cuadro4 {vertical-align:middle; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; }
	
.cuadro1 { border-bottom : solid 1px #000000; border-left:solid 1px #000000; vertical-align:middle; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px;}

.cuadro1-1 { border-top:solid 1px #000000;border-bottom : solid 1px #000000; border-left:solid 1px #000000; vertical-align:middle; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px;}

.cuadro2 {border-bottom : solid 1px #000000; border-left:solid 1px #000000;}
.cuadro3 {border-bottom : solid 1px #000000; border-left:solid 1px #000000;border-right:solid 1px #000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; }

.cuadro3-3 {border-top:solid 1px #000000;border-bottom : solid 1px #000000; border-left:solid 1px #000000;border-right:solid 1px #000000;}

.cuadro4 { vertical-align:top;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
.cuadro5 {border-bottom : solid 1px #000000; border-left:solid 1px #000000;border-right:solid 1px #000000;border-top:solid 1px #000000;}	
.cuadro6 {border-bottom : solid 1px #000000; border-left:solid 1px #000000;border-top:solid 1px #000000;}

.cuadro7 { border-bottom : solid 1px #000000;}

.cuadro8 { text-align: left;line-height: 18px; vertical-align:bottom;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
.cuadro9{ border-bottom: solid 1px #000000;text-align: left; vertical-align:bottom;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; text-align:right;}

.cuadro10 { text-align: left;line-height: 15px; vertical-align:bottom;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
.cuadro11{ border-bottom: solid 1px #000000;line-height: 15px;vertical-align:bottom;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; text-align:right;}

.cuadro12{ border:double #000000;line-height: 15px;vertical-align:middle;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; }

.cuadro13 {border-bottom : solid 1px #000000; border-left:solid 1px #000000;border-right:solid 1px #000000;vertical-align:top;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}

.cuadro14{ border:solid 1px #000000;line-height: 15px;vertical-align:middle;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; }

.cuadro15{ border-left:solid 1px #000000;border-bottom:solid 1px #000000; line-height: 15px;vertical-align:middle;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; vertical-align:top;}

.cuadro16{ border-bottom : solid 1px #000000;border-left : solid 1px #000000;border-right:solid 1px #000000; line-height: 15px;vertical-align:middle;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; vertical-align:top;}


.mensaje {FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: "Verdana"; TEXT-DECORATION:none;}
.mensaje_negro { text-align:center;FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Verdana"; TEXT-DECORATION:none;}

.intro {border-top : solid 1px #000000;border-bottom : solid 1px #000000;background-color: #8DBA83; height:18px; vertical-align:middle;}

.intro1 { font-size:9px;border-top : solid 1px #000000;border-bottom : solid 1px #000000;background-color: #8DBA83; height:18px; vertical-align:top;}

.columna {background-color: #808080;text-align: right;}
.text_amarillo {color: #ffff00;FONT-SIZE: 12px;}
.raya_baja {border-bottom : dotted 1px #d5d5d5;}
.total { border-top : dotted 1px #d5d5d5;border-bottom : solid 1px #d5d5d5;background-color: #0A697E;}
.columna_total {background-color: #808080;text-align: right;border-bottom : solid 1px #d5d5d5;color: #ffff00;}

.discontinua { padding-bottom:0px;color: #000000;font-size: 3px;border-bottom: 1px dotted #171717;}

.raya{border-bottom : solid 1px #000000; height:25px; vertical-align:middle;}
.raya:hover{border-bottom : solid 1px #000000;FONT-SIZE: 10px;height:20px;vertical-align:middle;}

.raya_negro {color : #000000;border-top : solid 1px #000000;border-bottom : solid 1px #000000;}

.boton {border-top : solid 1px #d5d5d5;border-right : solid 1px #d5d5d5;
	border-bottom : solid 1px #d5d5d5;border-left : solid 1px #d5d5d5;
	color : #333333;font-weight : bold;FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Verdana";}
.boton:hover {color : #355CC6;border: 1px solid #355CC6;background-color: #E7ECF1;font-weight : bold;FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: "Verdana";}
	
.link {color : #000000;text-decoration : none;}
		
.navigator{font-size:10px;font-family:Verdana,Helvetica;font-weight:200;color:#000000;font-weight: bold;
	text-transform: capitalize;font-variant: normal;text-decoration: none;bottom: auto;line-height: normal;}

.inputbox {z-index: -3;   font-size: 11px;}

.tabla {FONT-SIZE: 10px; font-weight: 500;COLOR: #000000;FONT-FAMILY: verdana;TEXT-DECORATION: none; margin: 0px;padding: 0px;border: 1px solid #000000; background-color: #CCF4B9;border-spacing: 0px;border-collapse: collapse;}
	
.filtro {FONT-SIZE: 10px;font-weight : 500;COLOR: #000000;FONT-FAMILY: verdana;TEXT-DECORATION: none;
	margin: 0px;padding: 0px; background-color: #CCF4B9;border-spacing: 0px;border-collapse: collapse;}
	
	
.menudottedline {border-bottom: 1px solid #cccccc;border-top: 1px solid #ffffff;background-color: #F1F3F5;
	background-position: center;text-align: center;vertical-align: middle;}

table#toolbar {margin-right:10px;}

table#toolbar a.toolbar {
border:1px solid #000000;
color:#000033;
display:block;
padding:2px 1px;
text-decoration:none;
width:55px;
}
table#toolbar a.toolbar:hover {background-color:#E7ECF1;border:1px solid #000000;color:#355cc6;padding:3px 0px 1px 2px;}

table#toolbar a.toolbar:active {color:#355cc6;}


table#toolbar a.toolbar2 {
border:1px solid #DDDDDD;
color:#000033;
display:block;
padding:2px 1px;
text-decoration:none;
width:35px;
}
table#toolbar a.toolbar2:hover {background-color:#E7ECF1;border:1px solid #000000;color:#355cc6;padding:3px 0px 1px 2px;}

table#toolbar a.toolbar2:active {color:#355cc6;}


table.user {background: url(../../../images/user.png) no-repeat left;}
 
.hr{color : #cccccc;background-position: center center;}
	
.intro_sup { vertical-align:middle; TEXT-DECORATION:UNDERLINE;FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none;}

.imprimir {FONT-SIZE: 10px;COLOR: #000000;	FONT-FAMILY: verdana;TEXT-DECORATION: none;font-style: normal;line-height: normal;background-color: #000000;	text-align: center;	margin: 0px;padding: 0px;}
.imp_celda {TEXT-DECORATION:UNDERLINE;FONT-SIZE: 10px;  FONT-FAMILY: "Verdana"; TEXT-DECORATION: none;border-top : solid 1px #000000; text-align:center;}
.imp_tabla {FONT-SIZE: 10px;	COLOR: #000000;	FONT-FAMILY: verdana;	TEXT-DECORATION: none;	font-style: normal;	line-height: normal;	border-top: thin solid #5A697E;	border-bottom : thin solid #5A697E;	text-align: center;	margin: 0px;	padding: 0px;}

.login-text {FONT-SIZE: 10px;FONT-FAMILY: verdana;text-align: justify;width: 90%;}

.login {margin-left: auto;margin-right: auto;margin-top: 6em;border: 1px solid #cccccc;width: 550px;background: #F1F3F5;text-align: justify; }

.login_change {border: 1px solid #cccccc;width: 550px;text-align: justify;}

.cuadro_left {border-left: 1px solid #cccccc;border-top:  #F1F3F5;background: #F1F3F5;text-align: center;line-height: 1px;padding: 0px 0px 0px 0px;}
.cuadro_up {border-top: 1px solid #cccccc;background: #F1F3F5;text-align: center;line-height: 0px;height:0px;}
.cuadro_down {border-bottom: 1px solid #cccccc;background: #F1F3F5;text-align: center;line-height: 1px;height:5px;}
.cuadro_right {border-right: 1px solid #cccccc;background: #F1F3F5;text-align: center;line-height: 0px;height:5px;}
.cuadro_main {background: #F1F3F5;text-align: center;line-height: 1px;height:5px;}

.cuadro {border:1px solid #cccccc;background: #F1F3F5;text-align: center;}
	
.ocultar {FONT-SIZE: 9px;	COLOR: #000000;	FONT-FAMILY: verdana;	TEXT-DECORATION: none;	font-style: normal;	line-height: normal;
	background-color: #F1F3F5;	margin: 0px;	vertical-align: middle;	background: #9FB4C4;}

.us{FONT-SIZE: 15px;COLOR: #5A697E;	FONT-FAMILY: verdana;TEXT-DECORATION: none;	font-style: normal;	line-height: normal;
background-color: #F1F3F5;	margin: 0px;FONT-WEIGHT: bold; text-align:left;}

.cursor { cursor:pointer; }	

 table.adminlist {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	border: 1px solid #ddd;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
}
table.tabla tr.row0{background-color: #BFD8BA;text-align: left;border-bottom : solid 1px #000000;height:35px;}

table.tabla tr.row1{background-color: #CCF4B9;text-align: left;COLOR: #000000; height:34px;}

table.tabla tr.row0:hover {background-color: #000000;COLOR: #ffffff;height:35px;}

table.tabla tr.row1:hover {background-color: #000000;COLOR: #ffffff;height:34px;}

table#toolbar1 a.toolbar1 {color : #000000;text-decoration : none;width: 100%;padding: 2px 1px 2px 1px;background-position: center;text-align: center;vertical-align: middle;}

table#toolbar1 a.toolbar1:hover {color : #355CC6;background-color: #E7ECF1;padding: 3px 0px 1px 2px;}

a.toolbar_rojo {color : #ff0000;text-decoration : none;width: 100%;padding: 2px 1px 2px 1px;background-position: center;vertical-align: middle;}
a.toolbar_rojo:hover {color : #355CC6;background-color: #E7ECF1;padding: 3px 0px 1px 2px;}

a.toolbar_verde {color : #006600;text-decoration : none;width: 100%;padding: 2px 1px 2px 1px;background-position: center;vertical-align: middle;}
a.toolbar_verde:hover {color : #355CC6;background-color: #E7ECF1;padding: 3px 0px 1px 2px;}

.raya_roja {FONT-SIZE: 10px;color : #000000;text-decoration : none;}
.raya_roja:hover {color : #ff0000;FONT-SIZE: 10px; }
.raya_amarilla {color : #ffff00;text-decoration : none;	}
.raya_amarilla:hover {color : #ffff00;FONT-SIZE: 14px;}
.acuadro1{border:2px solid #cccccc; border-bottom-color:#000000;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;}
.acuadro2{border:1px solid #cccccc; border-bottom-color:#000000;border-top-color:#000000;}